<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tenu de Compte</title>

        <link href="../css/tenudecompte.css" rel="stylesheet">
  </head>

  <body>
        <div ng-app="app">
                <div ng-controller="appCtrl">
                    
                        <input ng-model="valeur" placeholder="dépense" class ="input"/>
    			        <button ng-click="addDepense()">Ajouter dépense</button>
    		    	<ul>
    				    <li ng-repeat="depense in depenses">
    				    	{{ depense.valeur }} <span ng-click="rmDepense($index)" class ="delete">X</span>
    				    </li>
    		    	</ul>
    		        	<strong>Total des dépenses : {{ total }}</strong>
                </div>
        </div>
        <script src="../js/tenudecompte.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  </body>
</html>